/* styles/custom.css */

/* Custom styles for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding-top: 0; /* Remove padding for the top */
}

/* Navbar styles */
.navbar {
    position: fixed; /* Fix the navbar at the top */
    top: 0; /* Position at the top */
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #f8f9fa; /* Navbar background color */
    padding: 15px 10px; /* Padding around navbar */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for the navbar */
    opacity: 0;
    animation: fadeIn ease-in-out forwards;
}

.animate-on-load {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navbar-brand {
    font-weight: bold; /* Brand font weight */
    color: #333; /* Brand text color */
    font-size: 1.5rem; /* Brand font size */
}

.navbar-nav .nav-link {
    color: #333; /* Navbar links color */
    font-size: 1.1rem; /* Font size for navbar links */
    margin-right: 15px; /* Spacing between links */
    transition: color 0.3s; /* Smooth transition for link color change */
}

/* Change link color on hover */
.navbar-nav .nav-link:hover {
    color: #007bff; /* Change color on hover */
}

/* Active link style */
.navbar-nav .nav-item.active .nav-link {
    color: #007bff; /* Active link color */
}

/* Navbar toggler icon color */
.navbar-toggler-icon {
    color: #333; /* Toggler icon color */
}

/* Background color for the dropdown menu */
.dropdown-menu {
    background-color: #f8f9fa; /* Dropdown menu background color */
}

/* Dropdown link color */
.dropdown-item {
    color: #333; /* Dropdown link color */
}

/* Header styles */
header {
    background-color: #121212;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 80px;
}
#general {
    background-color: #121212;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    margin-top: 30px;
}

/* Main content styles */
main {
    background-color: #fff; /* Adjusted to white background */
    color: #333; /* Adjusted to dark text */
    padding-bottom: 6ssss0px; /* Adjust based on footer or content */
}
section {
    background-color: #121212;
    color: #fff; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
} 

h2 {
    color: #fff;
}

/* Footer styles */
footer {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
